* {margin:0;padding:0;}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 10fr 1fr;
}

header{
    background-color: darkgray;
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

h4{
    color: #FCFBFE;
    margin-left: 50px;
    font-size: 25px;
}

ul{
    justify-content: end;
    margin-right: 50px;
}
ul li{
    list-style: none;
    display: inline;
    margin-left: 10px;
    font-size: 15px;
}

a{
    color: lightgray;
    text-decoration: none;
}
a:link{
    text-decoration: none;
    color: lightgray;
}
a:visited{
    text-decoration: none;
    color: lightgray;
}
a:hover{
    text-decoration: none;
    color: #FCFBFE;
}
#currentpage{
    color: #FCFBFE;
}

.text{
    padding-left: 15px;
    background-color: #FCFBFE;
    grid-row: 2/3;
    grid-column: 1/2; 
    display: grid;
    align-content: center;
    
}
.fullstack{
    font-size: 100px;
    margin-left: 50px;
}

.city{
    font-size: 30px;
    color: lightgray;
    margin-left: 50px;
}

.image{
    background-color: #FCFBFE;
    grid-row: 2/3;
    grid-column: 2/3; 
    display: grid;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.pineapple{
    max-height: 700px;
    width: auto;
}

footer{
    background-color: darkgray;
    grid-column: 1/3;
    grid-row: 3/4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
footer .media{
    display: inline-block;
    width: 50px;
    height: auto;
    margin: 10px;
}