body {
    background-color: rgb(116, 110, 110);
    margin: 0;
    font-family: helvetica;
    display:flexbox;
    grid-template-columns: 45% auto 45%;
    grid-template-rows: .5fr 1fr .25fr;
    color: #3e3e3e;
    /* font-weight: 300; */
  }
  
  header {
    background-color: black;
    text-align: center;
    /* margin-top: 5em; */
    grid-column: 2/3;
    grid-row: 1/2;
  }
  
  header nav li {
    font-size: .5em;
    background-color: #f3f3f3;
    padding: .5em;
    border-radius: 10px;
  }
  
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  


body{
    grid-column: 2/3;
    grid-row: 2/3;
    /* background-image: url("/images/headv3.png"); */
    background-repeat:no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    /* background-position: center;
    background-size: 100% 100%; */
}