/* MUST USE: a grid container with a few grid items
/* a flexbox container with a few flex items  */
/* Both of these containers do not need to be on the same page. 
Try using one for one page, and the other for another page! */

body{
    margin:0;
    display: grid;
    grid-template-columns: 10% auto 10%;
    text-align: justify;
    color: blanchedalmond;
    background-image:image-set();
}

header{

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.page-nav{
    font-size: .5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow: hidden;
    background-color: rgb(168, 57, 57);
}

.page-nav a {
    float:inline-end;
    /* display: block; */
    color: #d8b6b6;
    font-variant: small-caps;
    text-align: justify;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Links - change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }