html {
    background-image: url("/assets/images/bluebird.jpg");
}

#container {
    display: block;
    align-content: end;
    margin:auto;
    text-align: center;
    background-image: url("bluebird.jpg");
    
}

header h1{
  border-radius: 10px;
  background-color: rgb(183, 169, 151);
  padding: 10px;
  width: auto;
  height: auto;
}


/* .center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
} */
footer p {
    position:absolute;
    color: grey;
    border-radius: 10px;
    background-color: rgb(183, 169, 151);
    padding: 10px;
    width: auto;
    height: auto;
}
