.main-content {
    margin: 67px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.25fr 0.5fr 2fr 2fr;
    grid-template-areas: 
    "title title title"
    "summary summary summary"
    "article1 article3 article5"
    "article2 article4 article6";
    gap: 17px 47px;
}

h1 {
    margin: 0;
    grid-area: title;
    font-size: 47px;
    justify-self: start;
}

.main-content p {
    grid-area: summary;
}

#article1 {
    grid-area: article1;
}

#article2 {
    grid-area: article2;
}

#article3 {
    grid-area: article3;
}

#article4 {
    grid-area: article4;
}

#article5 {
    grid-area: article5;
}