div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px;
}

div a {
    background-color: #50a79f;
    text-align: center;
    border: none;
    color: #323749;
    text-decoration: none;
    cursor: pointer;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
}

div a:hover {
    background-color: #9ebd55;
}

h2 {
    font-size: 35px;
    margin: 0px;
}

main section:nth-child(2) {
    background-color: rgba(122, 126, 141, 0.5);
}

section {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    padding-left: 75px;
}
