.middle-container {
    background-color: white;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    gap: 1rem;
    grid-template-areas: 
        "item-1 item-1 item-1"
        "item-2 item-3 item-4"
        "item-5 . item-6";

}
section {
    background-color: white;
    font-size: 1.5rem;
}
.middle-container div {
    background-color: white;
    margin: 1rem;
    width: 20rem;;
    height: 15rem;
    padding: 1rem;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
}

.middle-container a {
    background-color: white;
    color: #256EFF;
}

.middle-container a:hover {
    color: #95C623;
}

.portfolio-item-1 {
    grid-area: item-1;
    justify-self: left;
}

.portfolio-item-2 {
    grid-area: item-2;
    
}

.portfolio-item-3 {
    grid-area: item-3;
}

.portfolio-item-4 {
    grid-area: item-4;
}

.portfolio-item-5 {
    grid-area: item-5;
}

.portfolio-item-6 {
    grid-area: item-6;
}

h3, p {
    background-color: white;
    color: black;
}
