img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-height: 300px;
    max-width: 300px;
    padding: 20px;
}

.overview-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h2 {
    flex-direction: column;
    max-width: 40%;
}

main a {
    text-decoration: underline;
}

main ul {
    display: flex;
    flex-direction: column;
    max-width: 30%;
    font-weight: bold;
    font-size: 18px;
}

p {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
