#main-grid {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(6, 15vw);
}

#header {
    grid-area: 1/1/2/2 ;
    padding-right: 3vw;
    background-color: orange;
}

ul {
    list-style-type: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    text-align: right;
    font-size: 1.5em;
}

a:link {
    text-decoration: none;
}

a:visited {
    color:orangered;
    text-decoration: none;
}

a:hover {
    color:red;
    text-decoration: none;
}

a:active {
    text-decoration: none;
}


h1 {
    color: fuchsia; 
}


.container { 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

