/* GENERAL STYLES */

:root {
    --yellow: rgb(225, 168, 25);
    --pink: rgb(237, 106, 90);
    --dark-blue: rgb(40, 48, 68);
    --light-blue: rgb(120, 161, 187);
    --mint: rgb(235, 245, 238);
}

* {
    box-sizing: border-box;
}

*::selection {
    background-color: var(--pink);
    color: white;
}

a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid var(--dark-blue);
    font-weight: 500;
}

a:hover {
    color: var(--mint);
    border-bottom: 1px solid var(--pink);
}

body {
    background-color: var(--mint);
    margin: 0;
    font-family: 'Rubik', sans-serif;
    color: var(--dark-blue)
}

body > * {
    padding: 0 20%;
}

nav {
    height: 50px;
    background-color: var(--pink);
    width: 100%;
    padding: 0;
    position: fixed;
    top: 0;
    z-index: 1;
    border-bottom: .5px solid white;
    box-shadow: 0px 1px 2px rgb(237, 106, 90);
}

nav ul {
    height: 100%;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}

nav a {
    color: var(--mint);
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    font-weight: bold;
}

header {
    padding-top: 100px;
    /* margin-top: 100px; */
}

p {
    line-height: 160%;
}

footer {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    font-size: .8em;
}

footer > * {
    margin: 0;
}

footer p:last-of-type {
    margin-bottom: 5px;
    display: inline;
}

footer ul {
    list-style-type: none;
    display: inline;
    padding: 0;
}

footer ul li {
    display: inline;
    padding-right: 10px;
}

footer ul a:hover {
    color: var(--pink)
}

#homepage {
    background-color: var(--light-blue);
    /* opacity: 0.8; */
    /* background-image:  linear-gradient(#ffffff 1px, transparent 1px), linear-gradient(to right, #ffffff 1px, #e5e5f7 1px); */
/* background-size: 20px 20px; */
    text-align: center;
    padding-bottom: 20px;
}


#selfie {
    border-radius: 50%;
    border: 1px var(--mint) solid;
    padding: 5px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

#pronouns {
    opacity: 30%;
    font-size: .5em;
}

.title span {
    color: var(--pink);
}

.title:hover {
    color: var(--mint)
}

#about h2 {
    text-align: center;
}

#welcome {
    font-size: 1.2em;
}

#tech {
    text-align: center;
}

#tech ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#tech li {
    background-color: var(--dark-blue);
    color: var(--mint);
    width: 100%;
    margin: 0 10px;
    padding: 10px 30px;
    border-radius: 20px;
}

#tech li li {
    display: none;
}

mark {
    background-color: rgba(225, 168, 25, 0.756);
    padding: 3px;
}

.pair {
    font-size: smaller;
    font-weight: bold;
}

.pair::before {
    content: "‣";
    padding-right: 10px;
}

time {
    text-transform: uppercase;
    font-weight: bold;
    font-size: smaller;
}

#hi {
    /* background-color: white; */
    text-align: center;
}

#personal, #professional {
    margin-top: 50px;
    border: 1px solid var(--pink);
    padding: 20px;
    /* box-shadow: -1px -1px 1px rgb(244, 160, 160), -10px -10px white; */
    box-shadow: -10px -10px white;
}

#professional a:hover, #projects-header a:hover {
    color: var(--pink);
}

#personal ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#personal li {
    background-color: var(--dark-blue);
    color: var(--mint);
    height: fit-content;
    width: fit-content;
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
}

#personal li > * {
    display: none;
}

#projects-header {
    margin-bottom: 70px;
}

#projects-header h1 {
    margin-bottom: 10px;
}

#projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
}

#projects h2 {
    background-color: black;
    color: white;
    position: absolute;
    left: -20px;
    top: -40px;
    border: 1px solid white;
}

#projects h2 + * {
    margin-top: 40px;
}

#projects h2:hover {
    background-color: var(--pink);
}

#projects h2 a {
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: 10px;
}

#projects article {
    background-color: var(--light-blue);
    padding: 10px 30px;
    position: relative;
    height: 350px;
}

#projects article:first-child,
#projects article:last-child {
    background-color: rgb(40, 48, 68);
    color: white;
}

code {
    background-color: var(--mint);
    border-radius: 5px;
    padding: 3px;
    display: inline-block;
    color: var(--pink);
}

a[href="https://task-list-afina.herokuapp.com/tasks"] {
    display: inline-block;
    padding-top: 10px;
}

/* COLORS */
/* CSS HEX */
/* --goldenrod: #e1a819ff;
--space-cadet: #283044ff;
--air-superiority-blue: #78a1bbff;
--mint-cream: #ebf5eeff;
--terra-cotta: #ed6a5aff;

/* CSS HSL */
/* --goldenrod: hsla(43, 80%, 49%, 1);
--space-cadet: hsla(223, 26%, 21%, 1);
--air-superiority-blue: hsla(203, 33%, 60%, 1);
--mint-cream: hsla(138, 33%, 94%, 1);
--terra-cotta: hsla(7, 80%, 64%, 1); */

/* SCSS HEX */
/* $goldenrod: #e1a819ff;
$space-cadet: #283044ff;
$air-superiority-blue: #78a1bbff;
$mint-cream: #ebf5eeff;
$terra-cotta: #ed6a5aff; */

/* SCSS HSL */
/* $goldenrod: hsla(43, 80%, 49%, 1);
$space-cadet: hsla(223, 26%, 21%, 1);
$air-superiority-blue: hsla(203, 33%, 60%, 1);
$mint-cream: hsla(138, 33%, 94%, 1);
$terra-cotta: hsla(7, 80%, 64%, 1); */

/* SCSS RGB */
/* $goldenrod: rgba(225, 168, 25, 1);
$space-cadet: rgba(40, 48, 68, 1);
$air-superiority-blue: rgba(120, 161, 187, 1);
$mint-cream: rgba(235, 245, 238, 1);
$terra-cotta: rgba(237, 106, 90, 1); */

/* SCSS Gradient */
/* $gradient-top: linear-gradient(0deg, #e1a819ff, #283044ff, #78a1bbff, #ebf5eeff, #ed6a5aff);
$gradient-right: linear-gradient(90deg, #e1a819ff, #283044ff, #78a1bbff, #ebf5eeff, #ed6a5aff);
$gradient-bottom: linear-gradient(180deg, #e1a819ff, #283044ff, #78a1bbff, #ebf5eeff, #ed6a5aff);
$gradient-left: linear-gradient(270deg, #e1a819ff, #283044ff, #78a1bbff, #ebf5eeff, #ed6a5aff);
$gradient-top-right: linear-gradient(45deg, #e1a819ff, #283044ff, #78a1bbff, #ebf5eeff, #ed6a5aff);
$gradient-bottom-right: linear-gradient(135deg, #e1a819ff, #283044ff, #78a1bbff, #ebf5eeff, #ed6a5aff);
$gradient-top-left: linear-gradient(225deg, #e1a819ff, #283044ff, #78a1bbff, #ebf5eeff, #ed6a5aff);
$gradient-bottom-left: linear-gradient(315deg, #e1a819ff, #283044ff, #78a1bbff, #ebf5eeff, #ed6a5aff);
$gradient-radial: radial-gradient(#e1a819ff, #283044ff, #78a1bbff, #ebf5eeff, #ed6a5aff); */